doctype html
html
    head
        style
            include style.css

    body
        div
            block content
        div.footer
            | Best wishes
            br
            |Owu
            br
            a(href='http://localhost:5000/users') Visit our site
